name: Slither Analysis (bypassed)

temporarily disabled because of the action bug
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  analyze-core:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install dependencies
        run: forge install
        
      # - name: Run Slither core
      #   uses: crytic/slither-action@v0.2.0
      #   continue-on-error: true
      #   id: slither
      #   with:
      #     target: "src/core"
      #     slither-config: "slither.config.json"
      #     solc-version: 0.8.17
      #     sarif: results.sarif
      #     fail-on: none


      # - name: Upload SARIF file for core
      #   uses: github/codeql-action/upload-sarif@v2
      #   with:
      #     sarif_file: ${{ steps.slither.outputs.sarif }}
